# Конфиденциальные файлы
.env
.env.py
*.db

# Файлы IDE (PyCharm)
.idea/

# Временные файлы Python
__pycache__/
*.pyc

# Другие исключения (если есть)
courier_bot  # Исключите, если это не исходный код
